body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  background-color: #D5D5D5;
}

header {
  background-color: #6D7993;
  padding-top: 20px;
}

h1 {
  color: #FFF;
  padding-bottom: 15px;
  padding-left: 40px;
}

h2 {
  padding-bottom: 20px;
}

.devicon {
  text-align: center;
}

i {
  cursor: pointer;
  margin-right: 40px;
  font-size: 100px;
  text-align: center;  
  color: #96858F;
  transition: font-size .05s
}

i:hover {
    font-size: 200px;
}


/*Nagivation Styling*/

.site-nav li {
  list-style: none;
  float: left;
  margin: 5px;
}

.site-nav a {
  display: block;
  border: 3px solid #FFF;
  text-decoration: none;
  padding: 10px 20px;
  color: #FFF;
  border-bottom: none;
}

/*Navigation Ending*/

.profile {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

.content-area {
      padding-right: 40px;
      padding-left: 40px;

}

aside {
  width: 33%;
  float: left;
}

.site-nav a:hover {
  background-color: #9099A2;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}