body {
  font-family: Fira Sans, Arial;
  padding: 0;
  margin: 0;
  background-color: #D5D5D5;
}

header {
  background-color: #6D7993;
  padding-top: 20px;
}

h1 {
  font-size: 150%;
  color: #FFF;
  padding-bottom: 15px;
  padding-left: 40px;
}

@media screen and (max-width: 650px) {
  h1 {
    text-align: center;
    padding: 0px;
  }
}

h2 {
  padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
  h2 {
    text-align: center;
  }
}

.technology {
  display: none;
}

ul {
  list-style: none;
}

/*Nagivation Styling*/

.site-nav ul {
  border-bottom: 2px solid #FFF;
}

.site-nav li {
  list-style: none;
  float: left;
  margin: 5px;
  margin-bottom: 0px;
}

@media screen and (max-width: 770px) {
  .site-nav ul li:nth-child(3) {
    display:none;
  }
}

.site-nav a {
  display: block;
  border: 3px solid #FFF;
  text-decoration: none;
  padding: 10px 20px;
  color: #FFF;
  border-bottom: none;
}

.site-nav a:hover {
  background-color: #9099A2;
}

/*Navigation Ending*/

.content-area {
  padding-right: 40px;
  padding-left: 40px;
}

.profile {
  width: 66%;
  float: left;
  padding-right: 100px;
  box-sizing: border-box;
}

.myImage {
  padding-top: 15px;
}

@media screen and (max-width: 770px) {
  .profile,
  .myImage {
    width: auto;
    float: none;
    padding-right: 0px;
    margin-left: 0px;

  }
}

.ramin {
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: row;
}

.content {
  display: none;
}

.devicon {
  text-align: center;
  margin: auto;
}

/*@media screen and (max-width: 700px) {
  .devicon {
    margin-left: 30px;
  }
}*/

i {
  cursor: pointer;
  margin-right: 40px;
  font-size: 100px;
  text-align: center;  
  color: #96858F;
  transition: font-size .05s
}

@media screen and (max-width: 770px) {
  i {
    margin-right: 10px;
  }
}

@media screen and (min-width: 800px) {
  i:hover {
    font-size: 200px;
  }
}


/*Table Styling */

.tableInfo {
  display: table-row;
}

table tr th {
  text-align: left;
}

.project {
  padding: 0;
}

.links {
  padding: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

/*Table ending*/

/*Accordion Styling*/

button.accordion {
  font-family: Fira Sans, Arial;
  font-weight: bold;
  font-size: 90%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 5px 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

@media screen and (max-width: 800px) {
  div.panel.show {
    overflow: scroll;
  }
}


button.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.projectImages {
  width: 66%;
  float: left;
  width: 500px;
  height: 300px;
  margin-top: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}


@media screen and (max-width: 700px) {
  .projectImages {
    float: none;
    margin-top: auto;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }
}

/*Accordion Ending*/

aside {
  width: 33%;
  float: left;
}

.iframeContainer {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 775px) {
  .iframeContainer {
    flex-wrap: wrap;
    height: 700px;
  }
  .ramin {
    height: 250px;
    width: 250px;
  }
  .myImage {
    display: flex;
    justify-content: center;
  }
}


footer {
  background-color: #6D7993;
  height: 100px;
  margin-top: 50px;
  border-top: 2px solid #FFF;
}

/*clear Floats*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

/*end clear floats*/